## Logical Operators


The three primary logical operations in Python are `and`, `or`, and `not`.

### 1. `and` Operator
- **Description**: The `and` operator returns `True` if both operands are true; otherwise, it returns `False`.
- **Syntax**: `expression1 and expression2`
- **Usage**:
  - If `expression1` is `True` and `expression2` is `True`, then the result is `True`.
  - If either `expression1` or `expression2` is `False`, the result is `False`.
- **Example**:
  ```python
  x = 5
  y = 10
  result = (x > 0) and (y > 5)  # True, because both conditions are true.
  ```

### 2. `or` Operator
- **Description**: The `or` operator returns `True` if at least one of the operands is true; it returns `False` only if both operands are false.
- **Syntax**: `expression1 or expression2`
- **Usage**:
  - If either `expression1` or `expression2` is `True`, the result is `True`.
  - If both `expression1` and `expression2` are `False`, the result is `False`.
- **Example**:
  ```python
  x = 5
  y = 10
  result = (x > 0) or (y < 5)  # True, because the first condition is true.
  ```

### 3. `not` Operator
- **Description**: The `not` operator negates the value of its operand. If the operand is `True`, `not` makes it `False`, and if the operand is `False`, `not` makes it `True`.
- **Syntax**: `not expression`
- **Usage**:
  - The result is the opposite of the Boolean value of `expression`.
- **Example**:
  ```python
  x = 5
  result = not (x > 10)  # True, because x > 10 is False, and `not` makes it True.
  ```

### Combining Logical Operators
Logical operators can be combined to create more complex conditions. The order of operations (precedence) can be controlled using parentheses.

- **Example**:
  ```python
  x = 5
  y = 10
  z = 15
  result = (x < y) and (y < z) or (z < x)  # True, because (x < y) and (y < z) is True, and the result is not affected by (z < x).
  ```

### Operator Precedence
- `not` has the highest precedence, followed by `and`, and then `or`.
- Parentheses can be used to change the order of evaluation.

### Practical Use Case
Logical operations are commonly used in conditional statements like `if`, `while`, and `for` loops to control the flow of a program based on multiple conditions.

- **Example**:
  ```python
  x = 7
  if (x > 5) and (x < 10):
      print("x is between 5 and 10")
  ```

In this example, the program checks if `x` is greater than 5 and less than 10, and if so, it prints the message.

These logical operations are fundamental in programming for making decisions based on multiple conditions.

### XOR (Exclusive OR) Operation
- **Description**: The XOR operation returns `True` if one (and only one) of the operands is true, and `False` if both operands are the same (either both true or both false).
- **Equivalent Expression**: `expression1 != expression2`
  - XOR can be thought of as "one or the other, but not both."

### Implementing XOR in Python
1. **Using Inequality Operator (`!=`)**:
   - You can implement XOR using the inequality operator (`!=`) between two Boolean expressions.
   - **Syntax**: `expression1 != expression2`
   - **Example**:
     ```python
     x = True
     y = False
     result = x != y  # True, because x and y are not equal.
     ```

2. **Using Bitwise XOR Operator (`^`)**:
   - Python provides a bitwise XOR operator (`^`), which can be used directly with Boolean values because `True` is treated as `1` and `False` as `0`.
   - **Syntax**: `expression1 ^ expression2`
   - **Example**:
     ```python
     x = True
     y = False
     result = x ^ y  # True, because True XOR False is True.
     ```

### Example of XOR in a Conditional Statement
Hereâ€™s how you might use XOR in a practical scenario:

```python
x = 5
y = 10

# Check if exactly one of the conditions is true
if (x > 0) ^ (y < 5):
    print("One condition is true, but not both.")
else:
    print("Either both are true or both are false.")
```

### Summary of XOR in Python
- **Logic**: XOR returns `True` if one and only one of the operands is `True`.
- **Implementation**: You can implement XOR using either the inequality operator (`!=`) or the bitwise XOR operator (`^`).
- **Example**: `(x > 0) ^ (y < 5)` will return `True` if one of the conditions is true, but not both.

XOR is useful in scenarios where you need to ensure that exactly one of multiple conditions is met, which can be crucial in decision-making processes.

# Python but primarily pandas review

### The pandas library and DataFrames

The first thing you'll usually do when writing Python code is to import any libraries that you'll need. When working with data files, the pandas library offers all sorts of convenient functionality.

In [ ]:
import pandas as pd

We will use read_csv to import data from text files. This assumes that you have a folder called data and the file is placed in that folder. Do you?  

What does read_csv do for you? What does csv mean?

In [ ]:
# You can do this in one or in two steps.  First, specify where the file is located:
#path_to_data = './data/gapminder.tsv'
#if you are not using a data directory:
path_to_data = 'gapminder.tsv'
# Now import the file
data = pd.read_csv(path_to_data)

### What went wrong?

Hint: the data uses another symbol for separating the values. Try the option: sep='\t'

In [ ]:
data

ALWAYS, <b>ALWAYS</b> look at the data

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.shape

In [ ]:
data.size

Why do head and tail have parentheses but shape and size do not?

### Getting a sense of your data

In [ ]:
data.dtypes

In [ ]:
data.columns

In [ ]:
data.describe() #Notice anything????

#### Column level data

In [ ]:
data['country']

In [ ]:
data['country'].unique()

In [ ]:
#how many are there?
len(data['country'].unique())

In [ ]:
data['continent'].value_counts()

In [ ]:
#Find the maximum life expectancy

In [ ]:
#Find the minimum life expectancy

In [ ]:
#Find the mean life expectancy

### Subsetting a data frame

What do we mean by subsetting? Creating a new data frame that contains selected elements from the original data frame. This may be only certain columns, or only certain rows.

In [ ]:
#Subset columns
country_pop = data[['country', 'pop']]

In [ ]:
country_pop.head()

In [ ]:
#I would use this if I want all columns but a few
not_continent = data.drop(columns = ['continent'])

In [ ]:
#What if I want all of the data from 2002?

In [ ]:
data_2002.head(2)

In [ ]:
#What if I want all of the data from the first year recorded?

In [ ]:
data_early.head()

In [ ]:
data['continent'].unique()

In [ ]:
#What if we want all data from the Americas?

In [ ]:
data_Amer.head()

In [ ]:
data_Amer['continent'].value_counts()

In [ ]:
#What if we want all of the data from the Americas in 2007?

In [ ]:
data_Amer_2007.head()

### Boolean logic, and versus & and so forth

In [ ]:
Amer_2007_idx = data[data['continent'] == 'Americas' and data['year'] == 2007]
data_Amer_2007 = data[Amer_2007_idx]

In [ ]:
data_Amer_2007.head()

### Finding things: .loc versus .iloc

In [ ]:
#What if we want to find the highest population in the Americas data 2007 dataframe?

In [ ]:
#OK but how do we get the rest of the info?

In [ ]:
#A few ways

In [ ]:
#Why doesn't this work????

In [ ]:
data_Amer_2007.head(7)

In [ ]:
data_Amer_2007.head()

#### Using inplace = True properly

In [ ]:
#Let's get all of the data for Canada, Mexico, and the US
idx_select = data['country'].isin(['Canada','Mexico','United States'])
data_select = data[idx_select]

In [ ]:
data_select

In [ ]:
data_select.set_index('year', inplace = True)

In [ ]:
data_select.head()

In [ ]:
idx_select = data['country'].isin(['Canada','Mexico','United States'])
data_select = data[idx_select]

In [ ]:
data_select.set_index('year')
data_select.head()

In [ ]:
data_select = data_select.set_index('year', inplace = True)

### Missing data and the quirks of nan

In [ ]:
path_to_data = './data/test_data_v2.csv'
test_data = pd.read_csv(path_to_data)

In [ ]:
test_data.head()

#### Missing data

In [ ]:
test_data.isnull().sum()

In [ ]:
import numpy as np
print(np.nan)

In [ ]:
#What if we want to find the observations where arrivals are missing?
idx_miss = test_data['Arrivals'] == np.nan
test_data[idx_miss]

In [ ]:
#Hmmmm
#Let's try something

In [ ]:
#Get the rows where Arrival is null

In [ ]:
#How would we get the rows where it is NOT null?